<div class="spotlight">
    <div class="content">
        <!--[if lt IE 8]>
        <p class="alert alert-warning">Vous utilisez un navigateur <strong>périmé</strong>. Je vous conseille de <a href="http://browsehappy.com/">mettre votre navigateur &agrave; jour</a> pour am&eacute;liorer votre confort.</p>
        <![endif]-->

        <header class="major">
            <h2>Ceci est mon blog</h2>
        </header>

        <p>J'écris pour la gloire, que ce soit pour clamer mon amour pour une techno ou pour râler un bon coup sur les comportements chelous de PHP. Un peu parce que ça plaît de partager ce que je pense avec vous. Beaucoup parce que j'aime me la pêter sec. Mais surtout parce que <b>je pense qu'on devrait tous contribuer</b> plutôt que regarder les grands groupes transformer Internet en télé-poubelle 2.0.</p>
        <ul class="actions">
            <li><a href="#intro-yes" class="button">Ouais, bien dit !</a></li>
            <li><a href="#intro-no" class="button">Tu serais pas un peu taré des fois ?</a></li>
        </ul>

        <div id="intro-yes" class="hidden">
            <p>Content que tu sois d'accord. Les grands esprits se rencontrent !</p>
            <ul class="actions">
                <li><a href="#intro-more" class="button">Alors, de quoi tu vas nous parler ?</a></li>
            </ul>
        </div>

        <div id="intro-no" class="hidden">
            <p>Je suis pas fou. Ma mère m'a fait passer des tests.</p>
        </div>

        <div id="intro-more" class="hidden">
            <p>Surtout de développement, comme tu pourrait t'y attendre vu que je suis développeur. Mais aussi d'autres trucs comme l'éducation, les problèmes de notre monde de merde, et peut-être qu'un jour je parlerai cuisine, on verra.</p>
            <ul class="actions">
                <li><a href="#intro-cool" class="button">Ça à l'air cool !</a></li>
                <li><a href="#intro-lame" class="button">Ça à l'air chiant...</a></li>
            </ul>
        </div>

        <div id="intro-cool" class="hidden">
            <p>Tant mieux si c'est ton truc. Si tu as des suggestions pour des articles ou des idées, surtout n'hésite pas à <a href="#contact">me contacter</a> !</p>
        </div>

        <div id="intro-lame" class="hidden">
            <p>Bon ben... chacun ses goûts hein. C'est pas grave, tu peu retourner mater <a href="http://rickrolled.fr/">Game of Thrones</a> si tu veux.</p>
        </div>
    </div>
    <span class="image"></span>
</div>