---
layout: main
---
<article id="article" class="one">
    <div class="container">
        
        <!-- post header -->
        <header>
            <h2>{{ page.title }}</h2>
            <p class="meta">mis en ligne le {{ page.date | date: "%d/%m/%Y" }}</p>
        </header>

        <!-- share float header -->
        <div class="float-container">
            <div class="float">
                <div class="social-buttons">
                    <a class="popup facebook fa fa-facebook" title="Partager sur Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | UrlEncode }}{{ page.url | UrlEncode }}"></a>
                    <a class="popup twitter fa fa-twitter" title="Partager sur Twitter" href="http://twitter.com/home?status={{ page.description | UrlEncode }}%20{{ site.url | UrlEncode }}{{ page.url | UrlEncode }}%20par%20%40bdelespierre"></a>
                    <a class="popup googleplus fa fa-google-plus" title="Partager sur Google+" href="https://plus.google.com/share?url={{ site.url | UrlEncode }}{{ page.url | UrlEncode }}"></a>
                    <a class="popup linkedin fa fa-linkedin" title="Partager sur LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url | UrlEncode }}{{ page.url | UrlEncode }}&amp;title={{ page.title | UrlEncode }}&amp;summary={{ page.description | UrlEncode }}"></a>
                    <a class="email fa fa-envelope-o" title="Partager par mail" href="mailto:?subject={{ page.title | UrlEncode }}&amp;body={{ page.description | UrlEncode}}%20-%20%{{ site.url | UrlEncode }}{{ page.url | UrlEncode }}"></a>
                </div>
                <div class="echo">
                    <h3>{{ page.title }}</h3>
                </div>
                {% if page.spritzable %}
                <div data-role="spritzer"></div>
                {% endif %}
            </div>
        </div>

        <!-- post content -->
        <div class="content">
            {{ content }}
        </div>

    </div>
</article>

<section id="comments" class="two">
    <div class="container">
        
        <header>
            <h2>Commentaires</h2>
        </header>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
        var disqus_shortname = 'bdelespierre';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Veuillez activer JavaScript pour voir <a href="http://disqus.com/?ref_noscript">les commentaires.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">Système de commentaires propulsé par <span class="logo-disqus">Disqus</span></a>

    </div>
</section>