---
layout: main
---
<article id="article" class="one">
    <div class="container">
        
        <!-- post header -->
        <header>
            <h2>{{ page.title }}</h2>
            <p class="meta">mis en ligne le {{ page.date | date: "%d/%m/%Y" }}</p>
        </header>

        <!-- post content -->
        <div class="content">
            {{ content }}
        </div>

    </div>
</article>

<section id="comments" class="two">
    <div class="container">
        
        <header>
            <h2>Commentaires</h2>
        </header>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
        var disqus_shortname = 'bdelespierre';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Veuillez activer JavaScript pour voir <a href="http://disqus.com/?ref_noscript">les commentaires.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">Système de commentaires propulsé par <span class="logo-disqus">Disqus</span></a>

    </div>
</section>