<!DOCTYPE html>
<html>
<head>
	<meta charset="US-ASCII">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Spritz JavaScript SDK</title>

    <style type="text/css">
    	body {
		 	background-color: #CEE3F6;
		    margin-left: 20px;
    	}
    </style>

</head>
<body style="background-color: #F0F0F0;">
	
	<h1>Spritz JavaScript SDK</h1>
	
	<h2>Quick Start Guide</h2>
	
	<h3>Examples</h3>
	
	<div><a href="Example1.html">Lesson 1</a></div>	
	<div><a href="Example2.html">Lesson 2</a></div>	
	<div><a href="Example3.html">Lesson 3</a></div>
	<div><a href="Example4.html">Lesson 4</a></div>
	<div><a href="Example5.html">Lesson 5</a></div>
	<div><a href="Example6.html">Lesson 6</a></div>
	<div><a href="Example7.html">Lesson 7</a></div>
	<div><a href="Example8.html">Lesson 8</a></div>
	<div><a href="Example9.html">Lesson 9</a></div>
	<div><a href="Example10.html">Lesson 10</a></div>

	<h3>Supporting files for all examples</h3>

	<div><a href="login_success.html" download>login_success.html</a> (this is a required file to download and host on your website). 
	<br>
	In order for your login success file to work, please ensure that your redirectUri parameter points to the location of your login_success.html file and that you include the full protocol and path to this file.  For example your redirectUri setting should look something like: <br>
	<br>
	<code>
	redirectUri: &quot;http://mysite.com/login_success.html&quot; 
	</code>
	</div>
	
</body>
</html>
